@use './colors.scss' as colors;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	color: #fff;
}

.text-blue{
	color: colors.$main-color;
}

nav {
	text-transform: uppercase;

	.navbar-toggler {
		padding: 10px 15px;
		border: 2px solid red;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.navbar-brand,
	.navbar-nav .nav-link.show,
	.nav-link,
	.fa-bars {
		color: colors.$white-color;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-brand:focus,
	.navbar-brand:hover {
		color: colors.$main-color;
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	background-image: url('../img/header-img-high-res.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.829);
		z-index: -5;
	}
	h1{
		text-transform: uppercase;
	}
}


